@{
    ViewData["Title"] = "Employee Manager";
}

@model IList<HRTrainingTracker.Entities.Models.Employee>

<div class="row justify-content-center">
    <div class="col-3 text-center my-auto">
        <a class="btn btn-outline-primary buttonload" asp-area="" asp-controller="TrainingInsights" asp-action="EmployeeManagerAddNew">Add New</a>
    </div>
    <div class="col-auto"></div>
    <div class="col-4 text-center">
        <hr />
        <h2>Employee Manager</h2>
        <hr />
        @if (!string.IsNullOrEmpty((string)TempData.Peek("Error")))
        {
            <p class="text-danger">@TempData["Error"].ToString()</p>
        }
    </div>
    <div class="col-auto"></div>
    <div class="col-3">

    </div>
</div>
<hr />
@if (Model != null)
{
    @if (Model.Count == 0)
    {
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <hr />
                No Items Found!
                <br />
                To add items, click the "Add New" button above!
                <hr />
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-12 text-center table-responsive">
                <table class="table EmployeeDataTable table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="my-auto text-center notexport"></th>
                            <th class="my-auto text-center">ID</th>
                            <th class="my-auto text-center">First Name</th>
                            <th class="my-auto text-center">Last Name</th>
                            <th class="my-auto text-center">Shift</th>
                            <th class="my-auto text-center">Hire Date</th>
                            <th class="my-auto text-center">Transfer Date</th>
                            <th class="my-auto text-center">Building</th>
                            <th class="my-auto text-center">Department</th>
                            <th class="my-auto text-center">Active</th>
                            <th class="my-auto text-center">Manager</th>
                            <th class="my-auto text-center notexport"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td class="my-auto text-center">
                                    <a class="btn btn-outline-info buttonload" asp-area="" asp-controller="TrainingInsights" asp-action="EditEmployee" asp-route-id="@(Model.ElementAt(i).EmployeeID)">Edit</a>
                                </td>
                                <td class="my-auto text-center">
                                    <b>@Html.DisplayFor(obj => obj.ElementAt(i).EmployeeID)</b>
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).FirstName)
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).LastName)
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).Shift.Name)
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).HireDate)
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).TransferDate)
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).Building.Name)
                                </td>
                                <td class="my-auto text-center">
                                    @Html.DisplayFor(obj => obj.ElementAt(i).Department.Name)
                                </td>
                                <td class="my-auto text-center">
                                    @if (Model.ElementAt(i).Active)
                                    {
                                        <span class="badge badge-pill badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-danger">No</span>
                                    }
                                </td>
                                <td class="my-auto text-center">
                                    @if (Model.ElementAt(i).Manager)
                                    {
                                        <span class="badge badge-pill badge-success">Yes</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-danger">No</span>
                                    }
                                </td>
                                <td>
                                    @if (Model.ElementAt(i).Active)
                                    {
                                        <a class="btn btn-outline-danger buttonload" asp-area="" asp-controller="TrainingInsights" asp-action="RetireEmployee" asp-route-id="@(Model.ElementAt(i).EmployeeID)">Retire</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline-success buttonload" asp-area="" asp-controller="TrainingInsights" asp-action="RetireEmployee" asp-route-id="@(Model.ElementAt(i).EmployeeID)">Activate</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}